<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiCLAS.MDE.Properties.Settings.MDEInventurConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Data\MDEInventur.mdb;User ID=admin"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>